.chartWrapper {
  position: relative;

}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;

}

.chartAreaWrapper {
  overflow-x: scroll;

}

#particles-js{
  background: #1a8cff;
  height: 1000px;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background: #fff;
  opacity: 0.9;
  padding: 2em;
  position: absolute;
  top: 10px;
  left: 50px;
}
