<div class="container-fluid">
<div class="menu">
<ul class="nav navbar-nav">
    <li class="navColor" ui-sref="home"> Home </li>
    <li class="navColor" ui-sref="about"> Welcome </li>
    <li class="navColor" ui-sref="linechart"> Chart </li>
    <li class="navColor" ui-sref="newsfeed"> DateSearch </li>
</ul>
</div>
</div>

<div class="welcome">

<h1>Welcome</h1>
    <h3>Hedonimetry:  the study of happiness as a measurable economic asset. It is gauged by a device called a Hedonimeter, as Francis Ysidro Edgeworth said to describe, "an ideally perfect instrument, a psychophysical machine, continually registering the height of pleasure experienced by an individual." </h3>

    <h3>moodX uses deep-rich social media to track keywords in an user's post to provide accurate data on moods. The main priciple data coming from Twitter, the hedonimeter can coorelate the data from tweets and statuses to measure emotional levels on graphs. Our charts provide data from the start of Twitter till 26 months from the current date along with powerful search engines. The New York Times feature headline news from as early as 1851. The DuckDuckGo browser gives fast responses and doesn't track or collect information to value your privacy.</h3>
    <br>
    <br>
    <h1>Get Started</h1>
    <h3>Hover over the line chart to see the happiness level for a paticular day. To gather more information or browse headlines, use The New York Times news engine to find snippets on what happened that day. For a full detailed analysis, we recommend using our DuckDuckGo engine as well.</h3>
</div>

<div class="centerBtn">
<button type="button" class="btn btn-primary btn-block" ui-sref="linechart">Let's Go</button>  
</div>




















    <!-- <p>Welcome to moodX</p>
        <p>Hedonimetry: the study of happiness as a measurable economic asset. It is gauged by a device called a Hedonimeter, as Francis Ysidro Edgeworth said to describe, "an ideally perfect instrument, a psychophysical machine, continually registering the height of pleasure experienced by an individual." </p>

        <p>moodX uses deep-rich social media to track keywords in an user's post to provide accurate data on moods. The main priciple data coming from Twitter, the hedonimeter can coorelate the data from a tweet or status to measure emotional levels on graphs. The linecharts provide data 26 months from the current date along with a powerful news engine from The New York Times and DuckDuckGo.</p>

        <p>Get Started</p>
        <p>Hover over the line chart to see the happiness level for a paticular day. To gather more information, use The New York Times news engine to find snippets on what happened that day. For a full detailed analysis, we recommend using our DuckDuckGo engine as well.</p> -->
