<div class="container-fluid">
<div class="menu">
<ul class="nav navbar-nav">
    <li class="navColor"> Welcome </li>
    <li class="navColor"> Pie </li>
    <li class="navColor"> Line </li>
    <li class="navColor"> News </li>

</ul>
</div>
</div>

<div id="particles-js">
<div class="ontop container">
<div class="row">
  <div class="test">
      <p>moodX</p>
  </div>
</div>
</div>


<div class="testing">
<p>Measurement tools for moods using social data </p>
</div>

<div class="begin">
  <div id="wrapper">
    <section>
        <div class="btn-container">
            <input type="submit" value="begin" id="button-blue"/>
            <div class="ease"></div>
        </div>
    </section>

</div>

</div>



</div>
