







<div class="chartWrapper">
<div class="chartAreaWrapper" style="position:relative; height:95vh;">
<canvas id="myChart" width="800" height="400"></canvas>
</div>
</div>




<input type="text" name="searchBox" value="" placeholder="Enter YYYY-MM-DD" ng-model="pub_date">
 <button ng-click="gotNews(pub_date)">CLICK ME</button>

<ul ng-repeat="new in news" >
  <li class="clickColor">{{ new.headline.main }}</li>
  <li class="clickColor">{{ new.snippet }}</li>
  <!-- <li class="clickColor">{{ new.pub_date}}</li> -->
</ul>
